* {
  margin: 0;
  padding: 0;
}

img {
  display: flex;
  width: 100%;
}

img:nth-child(2) {
  display:none;
  overflow:hidden;
}

img:nth-child(5) {
  display:none;
  overflow:hidden;
}

@media only screen and (min-width: 25em) {

  img:nth-child(2) {
    float:left;
    width: 50%;
    display:block;
  }

  img:nth-child(3) {
    float:right;
    width: 50%;
    display:block;
  }

  img:nth-child(4) {
    float:left;
    width: 50%;
    display:block;
  }

  img:nth-child(5) {

    float:right;
    width: 50%;
    display:block;
  }
}

@media only screen and (min-width: 38em) {

  img:nth-child(2) {
    float:left;
    width: 33.3333%;
    display:block;
  }

  img:nth-child(3) {
    float:left;
    width: 33.3333%;
    display:block;
  }

  img:nth-child(4) {
    float: right;
    width: 33.3333%;
    display:block;
  }

  img:nth-child(5) {
    display:none;
    overflow: hidden;
  }
}

@media only screen and (min-width: 60em) {

  img:nth-child(1) {
    float:left;
    width: 66.6666%;
    display:block;
  }

  img:nth-child(2) {
    float: left;
    width: 33.3333%;
    display:block;
  }

  img:nth-child(3) {
    float:left;
    width: 33.3333%;
    display:block;
  }

  img:nth-child(4) {
    float: left;
    width: 33.3333%;
    display:block;
  }

  img:nth-child(5) {
    float:left;
    width: 33.3333%;
    display:block;
  }

}
